.App {
  display: block;
}

.idCardBox {
  margin: 10px;
  border: 1px solid #000;
  padding: 5px;
}

.idCard {
  display: flex;
  flex-direction: row;
}

.idCardImg {
  margin-right: 5px;
}

.info {
  display: block;
}

.header {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 10px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.box {
  padding: 5px;
  margin: 10px;
  border: 1px solid #000;
}
.boxColorBox {
  text-align: center;
  margin: 10px;
  border: 1px solid #000;
}
